.projects__container {
  margin: 0;
  padding: 0 2.5rem;
}

.work-item .work-inner {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: transparent;
  z-index: 1;
  transition: all 0.4s ease 0s;
}

.work-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.work-info {
  width: 100%;
  height: 100%;
  position: relative;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
}

.work-item,
.work-info,
.work-item img {
  border: 30px solid #fff;
  transition: all 0.3s ease-in-out 0s;
}

.work-item:hover .work-info {
  background: rgba(39, 55, 85, 0.6);
}

.work-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  font-size: 20px;
  border-radius: 50%;
  opacity: 0;
  top: 40px;
  position: relative;
  border: 1px solid #fafcff;
  color: #fafcff;
  transition: all 0.6s ease 0s;
  margin: 0 20px;
}

.work-item:hover .work-info span {
  opacity: 1;
  top: 0;
  transition: all 0.6s ease 0s;
}

.work-info span:hover {
  transform: rotate(360deg);
}

.project__item {
  position: relative;
  margin-bottom: 100px;
  background-color: #fff;
  box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.3);
}

.project__item img {
  object-fit: contain;
  width: 100%;
}

.project__photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 42%;
  height: 100%;
}

.project__item:nth-child(even) .project__photo {
  left: inherit;
  right: 0;
}

.photo-big,
.photo-small {
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
}

.photo-big {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 30px solid #fff;
}

.photo-small {
  position: absolute;
  bottom: -10%;
  right: -10%;
  z-index: 2;
  width: 50%;
  height: 50%;
  border: 20px solid #fff;
  box-shadow: 0 0 30px 0 rgba(33, 30, 25, 0.3);
}

.project__item:nth-child(even) .project__photo .photo-small {
  right: inherit;
  left: -10%;
}

.process__container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.process__container ul li {
  display: flex;
  margin: 0 2px;
}

.projects__container h5 {
  text-align: left;
  margin: 20px 0;
  color: #8aabca;
  font-size: 14px;
}

.project__details__container h6 {
  font-size: 10px;
  color: #8aabca;
}

.project__info {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.project__info div {
  margin: 10px;
}

.projects__container .project__item .project__description .project__info p {
  font-size: 12px;
}

.process__container span {
  font-size: 12px;
}

.projects__container .project__item .project__description {
  font-size: 18px;
  text-align: justify;
  padding: 60px 60px 60px 50%;
}

.project__description p a span {
  margin: 0 5px;
  color: #8aabca;
  font-weight: 900;
  text-decoration: underline;
}

.projects__container .project__item:nth-child(even) .project__description {
  padding-left: 50px;
  padding-right: 50%;
}

.projects__container .project__item .project__description h2 {
  font-size: 40px;
  margin-bottom: 30px;
}

.projects__container .project__item .project__description p:last-of-type {
  margin-bottom: 0px;
}

.projects__container .project__item:last-child {
  margin-bottom: 150px;
}

.projects__container .project__item .project__description p {
  line-height: 30px;
  font-size: 15px;
  text-align: justify;
}

@media (max-width: 767px) {
  .projects__container {
    padding: 0 2.25rem;
  }

  .project__photo .photo-small {
    display: none;
  }

  .projects__container .project__item {
    margin-bottom: 50px;
  }

  .project__photo .photo-big {
    border-width: 20px;
  }

  .project__description {
    text-align: center;
  }

  .project__description h5 {
    text-align: center;
  }

  .project__description p {
    font-size: 14px;
    line-height: 26px;
  }
}

@media (max-width: 991px) {
  .projects__container {
    padding: 0 1.25rem;
  }

  .projects__container .project__item .project__photo {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  .photo-small {
    bottom: 0;
    right: 0;
    border-width: 30px;
    display: none;
  }

  .projects__container .project__item .project__description {
    padding: 0 20px 20px;
  }

  .project__item:nth-child(even) .project__photo .photo-small {
    left: 0;
  }

  .projects__container .project__item:nth-child(even) .project__description {
    padding: 0 20px 20px;
  }
}
