.title__content {
  text-align: center;
}
.title__content h4 {
  color: #8aabca;
}
.title__content p {
  padding: 0 60px;
}

@media (max-width: 800px) {
  .title__section .title__content h2 {
    font-size: 38px;
  }

  .title__section .title__content p {
    font-size: 15px;
  }
}
