.hero {
  display: grid;
  place-items: center;
  background: linear-gradient(rgba(39, 55, 85, 0.8), rgba(39, 55, 85, 0.9)),
    url(../../images/background/bg.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
.underline {
  width: 5rem;
  height: 0.25rem;
  margin-bottom: 1.25rem;
  background: #8aabca;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5rem;
  margin-left: 0;
}

.hero {
  position: relative;
  top: 12vh;
  right: 0;
  left: 0;
  height: 88vh;
  width: 100%;
  margin-bottom: 5rem;
}

.hero-center {
  min-height: calc(100vh - 5rem);
  display: grid;
  place-items: center;
}
.hero-info h1 {
  color: #cedbe9;
}
.hero-info h4 {
  color: #dbe5ef;
}
.hero-icons {
  justify-items: start;
}
.hero-btn {
  margin-top: 1.25rem;
}

@media screen and (min-width: 992px) {
  .hero-center {
    grid-template-columns: 1fr 1fr;
  }
}
