.hireme-section {
  margin-top: 1.25rem;
  margin-right: 1.25rem;
  margin-left: 1.25rem;
  margin-bottom: 0;
}

.hireme-section .content-part {
  text-align: center;
  margin-bottom: 20px;
}
.hire-quote-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.hire-quote-btn-container .hire-quote-btn {
  text-decoration: none;
  font-size: 1rem;
  color: #273755;
  background-color: #8aabca;
  padding: 15px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
}

.hire-quote-btn-container .hire-quote-btn:before {
  position: absolute;
  content: '';
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background-color: #273755;
  transform: skew(50deg);
  transition-duration: 1s;
  z-index: 1;
}

.hire-quote-btn-container .hire-quote-btn:hover {
  color: #fafcff;
}

.hire-quote-btn-container .hire-quote-btn:hover:before {
  width: 172%;
}

.hire-quote-btn-container .hire-quote-btn span {
  position: relative;
  z-index: 9;
}
.hireme-section h1 {
  color: #273755;
  font-weight: 700;
  margin-bottom: 14px;
  font-size: 2rem;
}

.hireme-section p {
  color: #273755;
  font-size: 15px;
  margin-bottom: 14px;
}
.hireme-quote-btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.quote-btn-container .quote-btn {
  font-size: 1rem;
  color: #273755;
  background-color: #8aabca;
  border-radius: 0;
}
.quote-btn-container .quote-btn:before {
  background-color: #273755;
}

.divider span::before {
  left: -80px;
}
.divider span::after {
  right: -80px;
}
.divider span::before,
.divider span::after {
  background-color: #8aabca;
  content: '';
  height: 1px;
  position: absolute;
  top: 50%;
  width: 70px;
}

.divider {
  text-align: center;
  color: #8aabca;
  margin: 30px 0 20px;
  text-transform: uppercase;
}

.divider span {
  position: relative;
}
.hireme-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hireme-text p {
  font-size: 18px;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.button-part {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button-part .hire-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: 80%;
  margin: 15px;
  border-width: 1px;
  border-style: solid;
  height: 50px;
  position: relative;
  transition: all 0.5s ease;
  width: 160px;
}

.button-part .upwork {
  background-image: url(../../images/Freelancer/upwork2.png);
  background-position: center;
  border-color: #6fda44;
}

.button-part .freelancer {
  background-image: url(../../images/Freelancer/freelancer2.png);
  border-color: #0088c3;
  background-position: center;
}

.hire-btn::after {
  border-top: 14px solid #0088c3;
  border-left: 14px solid transparent;
  content: '';
  position: absolute;
  right: 1px;
  top: 1px;
}

.upwork.hire-btn::after {
  border-top: 14px solid #6fda44;
}

@media screen and (min-width: 375px) {
}

@media screen and (min-width: 576px) {
  .button-part {
    flex-direction: row;
  }

  .button-part .hire-btn {
    width: 200px;
  }

  .hireme-section p {
    padding: 0 8rem;
  }
}
@media screen and (min-width: 992px) {
  .hireme-section h1 {
    font-size: 46px;
  }

  .hireme-section p {
    font-size: 20px;
  }
  .button-part .hire-btn {
    width: 220px;
  }
}

@media screen and (min-width: 2560px) {
  .button-part .hire-btn {
    width: 250px;
  }
}
