/* ====================
  About Section
=======================*/

.about-section {
  background: #273755;
  padding: 3rem 0rem;
}

.about-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 30px;

}

.about-img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #8aabca;
  padding: 4rem;
  margin: 0 20px;
}

.about-container .social-links a:before {
  position: absolute;
  content: "";
  top: 0px;
  height: 100%;
  left: -50%;
  width: 0%;
  background-color: #273755;
  transform: skew(50deg);
  transition-duration: .6s;
  z-index: 1;
}

.about-img img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px solid #fafcff;
  margin-bottom: 30px;

}

.about-section .about-text {
  display: flex;
  align-items: center;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-text .about-text-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 1.25rem;
}


.about-section .about-text p {
  color: #fafcff;
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-align: justify;

}

.about-section p a {
  color: #8aabca;
  text-decoration: none;
}

@media screen and (min-width: 576px) {

  .about-section {
    padding: 5rem 3rem;
  }

  .about-section .about-text {
    margin-right: 40px;
  }

  .about-img {
    margin-left: 40px;
  }

}

@media screen and (min-width: 992px) {
  .about-section .about-text {
    /* margin-right: 30px; */

  }

  .about-section {
    padding: 5rem 3rem;
  }

}

/* ====================
    End of About Section
  =======================*/