*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'poppins', sans-serif;
  background: #f6f9fb;
  color: #273755;
  line-height: 1.5;
  font-size: 0.875rem;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

img:not(.logo) {
  width: 100%;
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: 2px;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  line-height: 30px;
  font-size: 0.9373rem;
  margin-bottom: 1.25rem;
  color: hsl(210, 22%, 49%);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
  p {
    font-size: 0.875rem;
  }
}

.btn {
  text-decoration: none;
  color: #273755;
  background-color: #8aabca;
  padding: 0.5rem 0.875rem;
  display: inline-block;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border-radius: 0.2rem;
  letter-spacing: 0.25rem;
  font-weight: 700;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  font-size: 0.875rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.btn:before {
  position: absolute;
  content: '';
  top: 0px;
  height: 100%;
  left: -25%;
  width: 0%;
  background: #273755;
  transform: skew(50deg);
  transition-duration: 1s;
  z-index: 1;
}
.btn:hover {
  color: #cedbe9;
}

.btn:hover:before {
  width: 180%;
}

.btn span {
  position: relative;
  z-index: 9;
}

.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.section-title {
  margin-bottom: 4rem;
  text-align: center;
}
p {
  font-size: 0.875rem;
}
